#root {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.tablaUsuarios {
  width: 90%;
  margin: auto;
  border-collapse: collapse;
}
thead {
  background-color: #213547;
  color: white;
}

tr td ,tr th{
  padding: 8px;
}
tr:nth-child(even){
  background-color: #ccc;
}


